a {
	transition: color .4s;
	color: #265C83;
}

a:link,
a:visited { color: #265C83; }
a:hover   { color: #7FDBFF; }
a:active  {
	transition: color .3s;
	color: #007BE6;
}

.link { text-decoration: none; }

body {
	background: url(bg.png); /* Background pattern from subtlepatterns.com */
	font-size: 20px;
	font-family: 'Lato', sans-serif;
}

#container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

h1, h2 {
	font-family: 'Oswald', sans-serif;
	margin: 0;
	text-align: justify;
}

.label {
	width: 170px;
	display: inline-block;
}

input {
	outline: none;
}

input:not([type="radio"]):not([type="checkbox"]), select {
	width: 100px;
	display: inline-block;
	box-sizing: border-box;
	margin-right: 10px;
	margin-bottom: 5px;
}

p {
	margin: 10px 0;
	text-align: justify;
}

.note {
	font-weight: bold;
}

#advanced-mode {
	display: none;
}

.gray {
	color: #333;
}

.nick {
	padding: 0.2em;
	margin: 0;
	font-size: 85%;
	background-color: rgba(0, 0, 0, 0.04);
	border-radius: 3px;
	display: inline-block;
	font-family: 'Courier New';
}

.special {
	color: red;
}
